
web/uploads/
web/bundles/
app/cache/*
app/logs/*
build/
composer.phar
composer.lock

# Symfony
app/cache/*
app/logs/*
build/
composer.phar
composer.lock

# Assets
web/bundles/
web/uploads/*
web/thumbs/*
web/img
web/css/*
web/js/*

# Configuration files
#app/config/parameters.yml

# IDE settings
.idea

# System files
.DS_Store